.color-939ba2 {
  color: #939ba2;
}

.color-ced4da {
  color: #ced4da;
}

.color-#e9ecef80 {
  color: #e9ecef80;
}

.cursor-pointer {
  cursor: pointer;
}

.nav-link span {
  font-size: 15px;
}

.nav-link:hover,
.nav-link:focus {
  color: #f5f5f5;
}
